figure {
  margin-left: 8em;
    text-align: center;
    border-radius: 15%;
    margin: auto;
    top: 50%;
    transform: translateY(50%);
}

.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
  
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
  
}

.c {width: 75%; background-color: #04AA6D;} /* Green */
.java {width: 85%; background-color: #3e04aa;} /* Green */
.python {width: 80%; background-color: #0704aa;} /* Green */
.html {width: 90%; background-color: #aa5d04;} /* Green */
.react {width: 65%; background-color: #aa0404;} /* Green */
.php {width: 60%; background-color: #d811d8;} /* Green */
.visual {width: 60%; background-color: #e7cb2a;} /* Green */

ul {
  list-style-type: none;
  color: white;
}
.checked {
  color: orange;
}

.portfolio img {
  display: block;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  height: 200px;
  margin: 0 auto;
  
}

img:hover{
  transform: scale(1.5);
}

hr {
  border-top: 3px solid #bbb; 
  margin-left: 5%;
  margin-right: 5%;
}

p {
  padding: 5%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
}
button {
  background-color: transparent;
  border: transparent;
}

.btn {
  text-decoration: none;
  margin-left: 35%;
  background-color: rgb(61, 57, 63);
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  align-items: center;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(91, 90, 92);
}

nav ul { /*For the navigation bar*/
  list-style-type: none;  
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(112, 112, 112);
  position: relative;
  text-align: center;
  
}

nav li { /*How each button will be displayed*/
    text-align: center;
    display: inline-block;
}

nav li a { /*How each nav bar button will look*/
  display: block;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 70px;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: black;
  color: white;
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 45px;
    
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px, 10px, 16px; 
  }

  .left h1 {
    font-size: 8vw;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(49, 47, 47);
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: rgb(112, 112, 112);
    box-shadow: 0px, 10px, 16px; 
    }
  
  .right h1 {
    font-size: 8vw;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 246, 246);
  }

html, body{
    padding: 0;
    border: 0;
    margin: 0;
}