button {
  background-color: transparent;
  border: transparent;
}

.btn {
  text-decoration: none;
  margin-left: 35%;
  background-color: rgb(61, 57, 63);
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  align-items: center;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(91, 90, 92);
}

h1 {
  font-size: 8vw;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(12, 9, 9);
}

nav ul { /*For the navigation bar*/
  list-style-type: none;  
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(112, 112, 112);
  position: relative;
  text-align: center;
  
}

nav li { /*How each button will be displayed*/
    text-align: center;
    display: inline-block;
}

nav li a { /*How each nav bar button will look*/
  display: block;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 70px;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: black;
  color: white;
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 45px;
    
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px, 10px, 16px; 
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: rgb(112, 112, 112);
    box-shadow: 0px, 10px, 16px; 
    }

html, body{
    padding: 0;
    border: 0;
    margin: 0;
}